.chicago {
    padding: 50px;
    background-color: #f5f5f5;
  }
  
  .restaurant-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .restaurant-title h2 {
    font-size: 28px;
    margin: 0;
  }
  
  .restaurant-title p {
    font-size: 18px;
    margin: 0;
    color: #888;
  }
  
  .restaurant-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .restaurant-images img {
    max-width: 45%;
    height: auto;
  }
  
  .restaurant-intro {
    text-align: center;
  }
  
  .restaurant-intro p {
    margin-bottom: 20px;
  }
  